# Configurações do Servidor
PORT=3001
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Configurações do Databricks
DATABRICKS_SERVER_HOSTNAME=seu_hostname_aqui
DATABRICKS_HTTP_PATH=seu_path_aqui
DATABRICKS_TOKEN=seu_token_aqui
DATABRICKS_CATALOG=main
DATABRICKS_SCHEMA=FintechBank